<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <section class="dashboard-body flex ">  
       
        <div class="sidebar flex flex-col">

            <div class="logo">
                <h2>Logo</h2>
            </div>

            <ul>
                <li>Dashboard</li>
                <li>Users</li>
                <li>Treks</li>
                <li>Staff</li>
                <li>Bookings</li>
                <li>Logout</li>
            </ul>

        </div>

        <div class="right">
            <nav class="navbar container flex center">
                <h3>OG Trekker</h3>

                <h3>UserName</h3>
            </nav>

            <div class="dashboard-content">
                <h1>main content</h1>
            </div>

        </div>
        
   

   

    

    </section>
  
    
</body>
</html>