<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <section class="main-body flex flex-col center">  
        <div class="title">
            <h1>OG Trekker</h1>
        </div>

        <div class="form-body flex flex-col center">
            <h4>Welcome back to OG Trekker</h4>
            <p>Login to your account</p>
            <form class="flex flex-col" action="">
                <label for="">Email </label><input type="email" name="emailId">
                <label for="">Password </label><input type="password" name="password">
                <input class="register-button button" type="button" value="Login">
            </form>
            <p>Don't have an account ? <a href="/templates/register.html">Register</a></p>
            <p> Dashboard <a href="/templates/dashboard.html">Dashboard</a></p>

        </div>

    </section>
  
    
</body>
</html>