<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <section class="main-body flex flex-col center">  
        <div class="title">
            <h2>Examination Management Portal</h2>
        </div>

        <div class="form-body flex flex-col center">
            <h4>Welcome back to Exam Portal</h4>
            <p>Login to your account</p>
            <div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert-{{ category }}" role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form class="flex flex-col" action="/users/login" method="post">
                <label for="">Email </label><input type="email" name="emailId" required>
                <label for="">Password </label><input type="password" name="password" required>
                <input class="register-button button" type="submit" value="Login">
            </form>
            <p>Don't have an account ? <a href="/users/register">Register</a></p>

        </div>

    </section>
  
    
</body>
</html>