<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <section class="main-body flex flex-col center">  
        <div class="title">
            <h2>Examination Management Portal</h2>
        </div>


        <div class="form-body flex flex-col center">
            <h4>Welcome to Exam Portal</h4>
            <p>Register your account</p>
            <div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert-{{ category }}" role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form class="flex flex-col" action="/users/register" method="post">
                <label for="">Full Name </label><input type="text" name="fullName" required>
                <label for="">Email </label><input type="email" name="emailId" required>
                <label for="">Password </label><input type="password" name="password" required minlength="8">
                <label for="">Confirm Password </label><input type="password" name="confirmPassword" required minlength="8">
                <label for="">Role</label>
                <select name="role" id="" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="student">Student</option>
                    <option value="examiner">Examiner</option>
                 </select>
                <input class="register-button button" type="submit" value="Register">
            </form>
            <p>Already have an account ? <a href="/users/login">Login</a></p>

        </div>

    </section>
  
    
</body>
</html>