{% extends "layout.html" %}


{% block content %}

<div class="admin_dashboard">
    <h1>Admin Dashboard</h1>

    <div style="grid-template-columns: 1fr 1fr;" class="admin_dashboard_body">
        <div class="courses">
            <h2>Courses</h2>

            <li class="flex center course_list_heading">
                <h4>Course</h4> 
                <h4>Corse Code</h4> 
                <h4>Course Status</h4>
                <h4>Actions</h4>
            </li>
            <div class="course_list">

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Statstics</h4> 
                    <span>Corse_code</span> 
                    <p>Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>
            </div>

        </div>

        <div class="courses">
            <h2>Exams</h2>
            <li class="flex center course_list_heading">
                <h4>Course</h4> 
                <h4>Corse Code</h4> 
                <h4>Course Status</h4>
                <h4>Actions</h4>
            </li>
            <div class="course_list">
                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Statstics</h4> 
                    <span>Corse_code</span> 
                    <p>Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>
            </div>

        </div>

        <div class="courses">
            <h2>Examiners</h2>

            <li class="flex center course_list_heading">
                <h4>Course</h4> 
                <h4>Corse Code</h4> 
                <h4>Course Status</h4>
                <h4>Actions</h4>
            </li>
            <div class="course_list">

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Statstics</h4> 
                    <span>Corse_code</span> 
                    <p>Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>
            </div>

        </div>

        <div class="courses">
            <h2>Students</h2>

            <li class="flex center course_list_heading">
                <h4>Course</h4> 
                <h4>Corse Code</h4> 
                <h4>Course Status</h4>
                <h4>Actions</h4>
            </li>
            <div class="course_list">

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Statstics</h4> 
                    <span>Corse_code</span> 
                    <p>Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>

                <li class="flex center">
                    <h4>Maths1</h4> 
                    <span>Corse_code</span> 
                    <p>Not Active</p>
                    <div class="flex center">
                        <button class="edit_button">Edit</button>
                        <button class="delete_button">Delete</button>
                    </div>
                </li>
            </div>

        </div>

    </div>
    

</div>

{% endblock %}